* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 223, 205);
    min-height: 100vh;
}

main {
    width: 360px;
}

.top {
    border-radius: 10px;
    display: flex;
    background-color: rgb(245, 95, 72);
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: white;
}

.balance p {
    margin-bottom: 6px;
    font-size: 14px;
}

img {
    width: 54px;
    height: 54px;
}

.chart {
    max-width: 100%;
    margin: 10px;
}

.bot {
    background-color: white;
    padding: 20px;
    margin-top: 16px;
    border-radius: 10px;
    color: rgb(46, 27, 27)
}


.line {
    width: 100%;
    height: 2px;
    background-color: rgb(211, 211, 211);
    margin-bottom: 20px;
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.month p{
    font-size: 14px;
    color: #666;
}


.last_month p:first-child{
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
}

.last_month p:last-child {
    color: #666;
}