* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 234, 250);
    min-height: 100vh;
    padding: 40px;
}

.article {
    position: fixed;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234, 241, 247);
    border-radius: 10px;
    max-width: 650px;
    width: 100%;
}

.image {
    height: 269px;
    width: 379px;
}

.image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
}

.content {
    padding: 30px;
    width: 100%;
    height: 100%;
}

.title {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
}

.sub-title {
    font-size: 12px;
    line-height: 18px;
    color: rgb(69, 69, 69);
    padding: 20px 0;
}

.info {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
}

.img {
    width: 40px;
    height: 100%;
    border-radius: 50px;
}

.name {
    font-size: 14px;
    flex: 1;
    padding: 0 0 0 14px;
}

.name p {
    font-size: 12px;
    font-weight: 600;
}

.name span {
    font-size: 12px;
    color:rgb(142, 142, 142) ;
}

.icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(213, 217, 217);
    width: 26px;
    height: 26px;
}

.icon.change {
    background-color:#2f3841;
}

.icon img {
    width: 12px;
    height: 12px;
}

.share {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 170px;
    width: 100%;
    background-color: #2f3841;
    padding: 10px 20px ;
    border-radius: 8px;
    top: 34px;
    right: -272px;
    color: white;
    animation: shareAnimation ease-in 0.15s;
    display: none;
    z-index: 1;
}


.share.active {
    display: flex;
}

@keyframes shareAnimation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.share span {
    font-size: 10px;
    color: #999;
}

.share::before {
    position: absolute;
    content: "";
    border: 14px solid;
    border-color: #2f3841 transparent transparent transparent;
    top: 32px;
    right: 62px;
}

i {
    cursor: pointer;
}


@media (max-width: 500px) {
    .article {
        flex-direction: column;
        width: 70%;
    }

    .image {
        width: 100%;
    }

    .image img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .content {
        padding: 30px 30px 10px 30px;
    }

    .share {
        display: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        max-width:350px;
        width: 60%;
        height: 58px;
        top: 239px;
        right: 49px;
    }

    .share::before {
        display: none;
    }

}