@font-face {
    font-family: Chivo Mono;
    src: url(./font/ChivoMono-Medium.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: Chivo Mono;
}

body {
    display: flex;
    height: 100vh;
}

.image {
    width: 40%;
}

.container {
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}


#css {
    font-size: 12px;
}

.form-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form-group-mm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form-group-yy {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form-group-cvc {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form-group.invalid .form-control-name {
    border-color: red;  
}

.form-group.invalid .form-message-name {
    color: red;
    display: block;
}

.form-message-name {
    display: none;
}

.form-group-number {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form-group-number.invalid .form-control-number {
    border-color: red
}

.form-group-number.invalid .form-message-number {
    color: red;
    display: block;
}

.form-message-number {
    display: none;
}

.form-group-number.error .form-control-number {
    border-color: red
}

.form-group-number.error .form-message-number-blank {
    color: red;
    display: block;
}

.form-message-number-blank {
    display: none;
}


.form-group-mm.invalid .form-control-mm {
    border-color: red
}

.form-group-mm.invalid .form-message-mm{
    color: red;
    display: block;
}

.form-message-mm {
    display: none;
}

.form-group-mm.error .form-control-mm {
    border-color: red;
}

.form-group-mm.error .form-message-mm-blank {
    color: red;
    display: block;
}

.form-message-mm-blank {
    display: none;
}

.form-group-yy.invalid .form-control-yy {
    border-color: red
}

.form-group-yy.invalid .form-message-yy {
    color: red;
    display: block;
}

.form-message-yy {
    display: none;
}

.form-group-yy.error .form-control-yy {
    border-color: red;
}

.form-group-yy.error .form-message-yy-blank {
    color: red;
    display: block;
}

.form-message-yy-blank {
    display: none;
}

.form-group-cvc.invalid .form-control-cvc {
    border-color: red
}

.form-group-cvc.invalid .form-message-cvc {
    display: block;
    color: red;
}

.form-message-cvc {
    display: none;
}

.form-group-cvc.error .form-control-cvc {
    border-color: red
}

.form-group-cvc.error .form-message-cvc-blank {
    display: block;
    color: red;
}

.form-message-cvc-blank {
    display: none;
}

.form-lable {
    font-size: 14px;
    padding-bottom: 5px;
}


.form-control-name:hover {
    border-color: rgb(61, 5, 61);
}

.form-control-number:hover {
    border-color: rgb(61, 5, 61);
}

.form-control-mm:hover {
    border-color: rgb(61, 5, 61);
}
.form-control-yy:hover {
    border-color: rgb(61, 5, 61);
}
.form-control-cvc:hover {
    border-color: rgb(61, 5, 61);
}
/* .form-control {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
} */

.form-control-name {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}


.form-control-number {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.flexbox {
    display: flex;
}

.form-control-yy {
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.form-control-mm {
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.form-control-cvc {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* .form-message {
    font-size: 12px;
    margin-top: 6px;
} */

.form-submit {
    background-color:rgb(61, 5, 61);
    color: white;
    padding: 12px 16px;
    width: 100%;
    margin-top: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.card {
    background-image: linear-gradient(20deg, rgb(23, 20, 105),rgb(169, 35, 174), rgb(126, 47, 200));
    width: 350px;
    height: 200px;
    position: fixed;
    left: 224px;
    top: 106px;
    border-radius: 10px;
    padding: 20px;
}

.top {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.circle1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin-right: 18px;
}

.circle2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
}

.card-visa {
    margin-left: 170px;
    display: flex;
    font-size: 24px;
    color: white;
}

.card-container {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-name {
    text-transform: uppercase;
}

.card-number {
    font-size: 26px;
    margin-bottom: 22px;
}

.info {
    display: flex;
    justify-content: space-between;
}



.card-behind {
    position: fixed;
    border-radius: 10px;
    top: 350px;
    left: 307px;
    width: 350px;
    height: 200px;
    background-color: rgb(187, 187, 187);
}

.black-line {
    width: 100%;
    border: 24px solid rgb(40, 40, 40);
    margin-top: 20px;
}

.input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 4px;
    margin: 20px 0 0 34px;
    width: 80%;
    height: 30px;
    background-color: rgb(117, 117, 117);
}

.input .cvc {
    padding-right: 16px;
    color: white;
}


.visa {
    height: 80px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.sucessfull {
    max-width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icon-sucess {
    font-size: 60px;
    color: rgb(94, 55, 200);
}

.text {
    font-size: 22px;
    text-transform: uppercase;
}

.sub {
    font-size: 16px;
    color: #555;
}

.btn-continue {
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color:rgb(61, 5, 61);
    color: white;
    padding: 10px 20px;
    width: 320px;
    border-radius: 10px;
}


.form {
    max-width: 350px;
}


.container-sucessfull {
    display: none;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

@media (min-width:375px) and (max-width:500px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .image {
        /* display: none; */
        width: 100%;
        height: 30%;
    }

    .container {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-start;    
        padding-top: 60px;
        max-width: 600px;
        width: 100%;
    }

    .card {
        top: 142px;
        left: 20px;
        z-index: 1;
    }

    .card-behind {
        top: 18px;
        left: 38px;
    }
}
