@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Posppins', sans-serif;
}

body {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    padding: 60px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.container {
    max-width: 1200px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.title h1 {
    font-size: 32px;
    margin-bottom: 4px;
}

.total{
    font-size: 16px;
    color: #444;
}


.darkmod__icon {
    display: flex;
    align-items: center;
}

.text {
    font-size: 16px;
    color: #666;
    margin-right: 8px;
}

.darkmod__icon i {
    font-size: 26px;
    color: #888;
    cursor: pointer;
}

.content {
    width: 100%;
}

.content__fisrt {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 23%;
    padding: 20px;
    border-top: 4px solid rgb(66, 144, 238);
    background-color: rgb(243, 243, 243);
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
    background-color: rgb(220, 220, 220);
}

#border__ins {
    border-top:4px solid rgb(232, 121, 65);
}

#border__youtube {
    border-top: 4px solid red;
}

.card__top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__top i {
    color: rgb(31, 158, 237);
    margin-right: 4px;
    font-size: 18px;
}

.card__top p {
    font-size: 12px;
}

#instagram {
    color: rgb(232, 121, 65);
}

#youtube {
    color: red;
}

.card__between {
    text-align: center;
    margin: 16px 0;
}

.card__between h1 {
    font-size: 52px;
}

.card__between p {
    font-size: 12px;
    letter-spacing: 4px;
}

.card__bot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__bot i {
    color: rgb(0, 170, 31);
    font-size: 10px;
    margin-right: 4px;
}

.card__bot p {
    color: rgb(0, 170, 31);
    font-size: 12px;
}

.overview {
    width: 100%;
    margin-top: 40px;
}

.overview__today {
    font-size: 26px;
    color: #555;
    margin-bottom: 20px;
}

.first {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.minicard {
    width: 23%;
    background-color: rgb(243, 243, 243);
    padding: 20px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.minicard:hover {
    background-color: rgb(220, 220, 220);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.top p {
    font-size: 16px;
}

.top i {
    color: rgb(31, 158, 237);
    font-size: 18px;
}

.bot {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.bot h2 {
    font-size: 34px;
}

.bot__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot__right i {
    color: rgb(0, 170, 31);
    font-size: 10px;
    margin-right: 4px;
}

.bot__right p {
    color: rgb(0, 170, 31);
    font-size: 12px;
}

.second {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.dark {
    background-color: rgb(11, 27, 49);
}

.whitecolor {
    color: white;
}

.darkcard {
    background-color: rgb(27, 42, 63);
}

.darkcard:hover {
    background-color: rgb(46, 58, 75)
}


@media (max-width: 800px) {
    .header {
        display: flex;
        flex-direction: column;
    }

    .title {
        border-bottom: 1px solid rgb(124, 124, 124);
        padding-bottom: 20px;
    }

    .darkmod__icon {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .card {
        width: 100%;
        margin-top: 16px;
    }

    .first {
        display: flex;
        flex-direction: column;
        margin-bottom: -20px;
    }

    .second {
        display: flex;
        flex-direction: column;
    }

    .minicard {
        width: 100%;
        margin-top: 18px;
    }
}

.toggle-btn {
    position: relative;
    background-color: rgb(46, 181, 181);
    width: 38px;
    height: 22px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.icon {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    transition: all 0.4s ease;
}

.active .icon {
    left: calc(100% - 17px);
    background-color: rgb(27, 42, 63);
}

.active {
    background-color: rgb(46, 181, 181);
}