
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(160, 229, 227);
}

.container {
    margin-top: 50px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
}

.card_container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left,
.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left {
    padding-right: 30px;
    justify-content: space-between;
}

.bill,
.select-tip,
.number-people {
    display: flex;
    flex-direction: column;
}

.bill input,
.select-tip input,
.number-people input {
    cursor: pointer;
}

.left input {
    border: none;
    outline: none;
    text-align: right;
    color: rgb(10, 64, 40);
    font-weight: bolder;
}


.bill-input,
.number-input {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(244, 244, 244);
    border-radius: 4px;
    height: 30px;
    padding-left: 10px;
}

.bill-input:hover {
    border: 1px solid rgb(8, 140, 96);
}
.number-input:hover {
    border: 1px solid rgb(8, 140, 96);
}
.tip-btn input:hover {
    border: 1px solid rgb(8, 140, 96);
}

.bill-input input,
.number-input input {
    width: 100%;
    background-color: rgb(244, 244, 244);
    padding: 4px;
}

.bill-input img,
.number-input img {
    width: 12px;
    height: 12px;
}

.tip-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.active  {
    background-color:rgb(43, 152, 136) !important;
    color:rgb(10, 64, 40) !important;
}

.tip-btn button {
    color: white;
    font-size: 16px;
    margin-top: 10px;
    width: 76px;
    height: 30px;
    background-color: rgb(15, 56, 50);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.tip-btn button:hover {
    background-color: rgb(90, 174, 161);
    color:rgb(10, 64, 40);
}

.tip-btn input {
    border-radius: 4px;
    width: 76px;
    height: 30px;
    background-color: rgb(244, 244, 244);
    margin-top: 10px;
}

.text {
    display: flex;
    justify-content: space-between;
}

.text span {
    color: red;
    display: none;
}

.text.error span {
    display: block;
}

.number-input.error {
    border: 1px solid red;
}

.right {
    background-color: rgb(19, 79, 70);
    border-radius: 10px;
    padding: 20px;
}

.reset-btn {
    padding: 8px 0;
    text-transform: uppercase;
    background-color:rgb(118, 194, 182);
    border-style: none;
    font-weight: 600;
    color: rgb(8, 67, 58);
    border-radius: 6px;
}

.default {
    opacity: 0.2;
}

.tip-amount,
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total {
    margin: 20px 0 88px 0;
}

h2 {
    color: rgb(48, 228, 228);
    font-size: 34px;
}

.right p {
    color: white;
    font-size: 14px;
}

.right span {
    font-size: 12px;
    opacity: 0.7;
}


/* Mobile */
@media (max-width: 500px) {
    body {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .card_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .container {
        width: 100%;
        height: 740px;
    }

    .left {
        width: 100%;
        padding: 0 0 40px 0;
    }

    .right {
        width: 100%;
        padding: 20px 20px;
    }

    .select-tip {
        padding: 40px 0;
    }

    .tip-btn {
        flex-wrap: wrap;
    }

    .tip-btn button {
        width: 158px;
        height: 40px;
        font-size: 20px;
    }

    .select-tip input {
        width: 158px;
        height: 40px;
    }

    .logo {
        margin-top: 20px;
    }
}