*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(11deg, rgb(88, 79, 224), rgb(172, 75, 198));
    padding: 60px;
}

.accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 30px;
    padding: 40px 65px 40px 0px;
    max-width: 800px;
    width: 100%;
}

.image-box {
    position: relative;
    height: 360px;
    width: 424px;
    margin-right: -8px;
}

.image-box img {
    position: absolute;
    left: -76px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.twoimage {
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-box .img-box {
    position: absolute;
    top: 152px;
    left: -80px;
    width: 40%;
    height: 40%;
}

.accordion-text {
    width: 55%;
    cursor: pointer;
}

.title {
    font-size: 35px;
    font-weight: 600;
}

.fag-text {
    list-style: none;
    margin-top: 24px;
    height: 260px;
    overflow-y: auto;
}

.fag-text::-webkit-scrollbar {
    display: none;
}

.question-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question {
    font-size: 16px;
}

.question:hover {
    color: rgb(248, 115, 67);
}

.question.open {
    color: rgb(248, 115, 67);
}

i {
    font-size: 12px;
    color: rgb(248, 115, 67);
}

.line {
    display: block;
    height: 2px;
    width: 100%;
    margin: 16px 0;
    background-color: rgba(0, 0, 0, 0.1);
}

p {
    display: none;
    width: 92%;
    margin-top: 10px;
    font-size: 14px;
    color: #777;
}

.active .question {
    font-size: 16px;
    font-weight: 600;
}

.open {
    display: block;
}


/* Responsive for PC and Mobile*/

/* For PC */
@media (min-width: 641px) and (max-width:1930px) {
    .twoimage {
        overflow: hidden;
    }
}
/* For Mobile */
@media(max-width: 640px) {
    .accordion {
        flex-direction: column;
        padding: 10px;
    }
    .image-box {
        position: relative;
        top: -174px;
        left: 76px;
        width: 280px;
        height: 280px;
    }

    .image-box img {
        position: absolute;
        left: -76px;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .image-box .img-box {
        position: relative;
        display: block;
        top: 107px;
        left: -83px;
        width: 120px;
        height: 120px;
    }

    .accordion-text {
        width: 88%;
        position: relative;
        top: -122px;
        height: 245px;
    }

    .fag-text {
        height: 246px;
    }

    .container {
        max-width: 300px;
    }

    .title{
        text-align: center;
    }

    .question {
        font-size: 14px;
        max-width: 248px;
        width: 100%;
    }

    .subtitle {
        font-size: 12px;
    }
    
    .active .question {
        font-size: 14px;
        font-weight: 600;
        color: black;
    }

    .open i .icon {
        transform: rotate(-180deg);
    }
}