
.app {
  display: flex;
  justify-content: space-evenly
}

.hide {
  display: none;
}
.content {
  padding: 30px 30px;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  background-color: rgb(39, 43, 40);
}

.app_fisrt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: orange;
  border-radius: 40px;
  background-color: rgb(63, 65, 64);
}


p {
  font-style: normal;
  color: rgb(133, 133, 133);
}

.text {
  font-weight: 600;
  font-size: 28px;
  color: white;
}

.btn{
  display: flex;
  justify-content: space-between;
  margin: 35px 0;
}

.btn_btn {
  text-align: center;
  background-color:rgb(63, 65, 64);
  border-radius: 40px;
  width: 50px;
  height: 50px;
  color: rgb(162, 160, 160);
  cursor: pointer;
  border-style: none;
}

.submit {
  width: 100%;
  height: 40px;
  background-color: rgb(244, 140, 4);
  border-radius: 40px;
  cursor: pointer;
  color: white;
  border-style: none;
}

.submit:hover {
  background-color: white;
  color:rgb(244, 140, 4);
}

.btn_btn:hover {
  background-color:rgb(244, 140, 4);
  color: white;
}

.active {
  background-color: rgb(203, 191, 191);
  color: white;
}

.show {
  display: none;
}
.succesfull {
  padding: 30px 30px;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  background-color: rgb(39, 43, 40);
}

img {
  width: 90px;
  height: 90px;
  margin-left: 38%;
}

.selected {
  margin-top: 20px;
  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 30px;
  border-radius: 20px;
  background-color:rgb(63, 65, 64) ;
}

h1 {
  color: white;
  text-align: center;
}

p{
  color: white;
}

.first {
  color:rgb(244, 140, 4)
}

.number {
  color:rgb(244, 140,4) ;
}

#text {
  text-align: center; 
}
