* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: hsl(240, 100%, 5%);
    --text-color: #333;
    --title-color: rgb(2, 1, 15);
}

@font-face {
    font-family: static;
    src: url(./asset/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: static-bold;
    src: url(./asset/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: static-bolder;
    src: url(./asset/fonts/static/Inter-ExtraBold.ttf);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: static ;
}

.container {
    padding: 60px 20px;
    max-width: 1000px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header img {
    width: 50px;
    height: 30px;
}

.menu {
    display: flex;
    font-size: 16px;
    color: var(--text-color);
}

.menu p {
    margin-left: 24px;
    cursor: pointer;
}

.menu p:hover {
    color: rgb(247, 119, 72);
}

.header .icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.content {
    width: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top__left {
    display: flex;
    flex-direction: column;
    max-width: 632px;
    width: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.title h1 {
    font-size: 44px;
    font-family: static-bolder;
    width: 70%;
    color: var(--title-color);
}

.subtitle-btn {
    width: 80%;
    margin-left: 40px;
}

.subtitle-btn p {
    font-size: 14px;
    color: var(--text-color);
    line-height: 20px;
}

.subtitle-btn button{
    font-size: 12px;
    border: none;
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    margin-top: 26px;
    cursor: pointer;
    letter-spacing: 4px;
}

.subtitle-btn button:hover {
    background-color: var(--primary-color);
}

.top__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    background-color: var(--primary-color);
    color: white;
    padding: 20px 16px;
}

.top__right h1{
    color: rgb(242, 187, 86);
}

.category {
    width: 100%;
}

.category h2 {
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.category h2:hover {
    color: rgb(242, 187, 86);
}

.category p {
    font-size: 14px;
    line-height: 20px;
    color: #999;
    margin: 10px 0 20px 0;
}

.line {
    border: 1px solid #666;

}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.cart {
    display: flex;
    width: 100%;
}

.cart:nth-child(2) {
    margin: 0 16px;
}

.cart img {
    width: 70px;
    height: 100px;
    margin-right: 14px;
}

.describe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.describe h1 {
    color: #888;
}

.describe h4 {
    color: var(--title-color);
    font-size: 16px;
    cursor: pointer;
}

.describe h4:hover {
    color: rgb(255, 77, 0);
}

.describe span {
    font-size: 12px;
    color: var(--text-color);
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
}

.nav-mobile {
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    max-height: 1000px;
    height: 100%;
    width: 70%;
    padding: 20px 20px;
    display: none;
}

.nav-mobile i {
    font-size: 34px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 70px;
    cursor: pointer;
}

.nav-mobile ul {
    list-style: none;
}

.nav-mobile li {
    font-size: 18px;
    margin-bottom: 30px;
    cursor: pointer;
}

.nav-mobile li:hover {
    color: rgb(255, 77, 0);
}

.show {
    display: block;
}

@media (max-width:820px) {
    .container {
        padding: 20px 20px;
    }

    .menu {
        display: none;
    }

    .header .icon {
        display: block;
    }

    .top {
        flex-direction: column;
    }

    .title {
        flex-direction: column;
        width: 100%;
    }

    .subtitle-btn {
        width: 100%;
        margin-bottom: 50px;
        margin-left: 0;
    }

    .top-left {
        max-width: 820px;
        width: 100%;
    }

    .top__right {
        margin-left: 0;
    }

    .bottom {
        flex-direction: column;
    }

    .cart {
        padding-bottom: 20px;
    }

}