* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --text-color: #444;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 40px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(249, 249, 249);
}

.container {
    position: relative;
    max-width: 1200px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.navigation {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 40%;
    color: #777;
    cursor: pointer;
    margin-left: -324px;
}

.features p:hover {
    color: black;
}

.company p:hover {
    color: black;
}

.careers:hover {
    color: black;
}

.about:hover {
    color: black;
}

.features,
.company {
    display: flex;
    align-items: center;
    position: relative;
}

.features-list {
    position: absolute;
    top: 30px;
    left: -62px;
    background-color: white;
    border-radius: 12px;
    padding: 14px 20px 0 20px;
    box-shadow: 1px 1px 30px rgb(203, 202, 202);
    display: none;
}

.list {
    display: flex;
    margin-bottom: 14px;
}

.list:nth-child(3) img {
    margin-right: 16px;
}

.list img {
    margin-right: 14px;
}

.company-list {
    position: absolute;
    width: 120px;
    top: 30px;
    background-color: white;
    border-radius: 12px;
    padding: 14px 14px 0px 20px;
    box-shadow: 1px 1px 30px rgb(203, 202, 202);
    display: none;
}

.company-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.company-list li {
    margin-bottom: 14px;
}

.company-list li:hover {
    color: #333;
}

.features i,
.company i {
    font-size: 10px;
    margin-left: 4px;
}

.login-register {
    display: flex;
    align-items: flex-start;
    color: #777;
}

.icon-menu {
    display: none;
}

.login:hover {
    color: black;
    cursor: pointer;
}

.register {
    border: 1px solid #555;
    padding: 6px 12px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: -7px;
}

.register:hover {
    color: black;
    cursor: pointer;
    border-color: black;
}

.content {
    display: flex;
    width: 100%;
    padding: 80px 60px;
}

.content__left {
    width: 50%;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__left h1 {
    font-size: 70px;
    margin-top: 60px;
}

.content__left p {
    width: 78%;
    padding: 20px 0;
    font-size: 20px;
    line-height: 32px;
    color: var(--text-color);
}

.btn {
    font-size: 18px;
    width: 152px;
    padding: 16px 20px;
    border-radius: 14px;
    border: none;
    background-color: rgb(16, 15, 15);
    color: white;
    border: 1px solid black;
}

.btn:hover {
    cursor: pointer;
    color: black;
    background-color: rgb(242, 242, 242);
    border: 1px solid black;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.content__right {
    width: 50%;
}

.content__right img{
    width: 100%;
}

.mobile {
    width: 30%;
    height: 100vh;
    background-color: white;
    display: none;
}

.mobile {
    width: 60%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 28px 40px;
    color: #444;
}

.nav {
    margin-top: 30px;
    font-size: 20px;
    cursor: pointer;
}

.mobile i {
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
    top: 0;
    right: 0;
    cursor: pointer;
}

.features-mobile {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    align-items: center;
}


.features-mobile i {
    font-size: 14px;
    margin-left: 10px;
}

.feature__list-moblie {
    display: none;
    padding: 20px 0 0 20px;
}

.company-moblie {
    display: flex;
    margin: 20px 0;
    flex-direction: column;
}

.company-moblie i{
    position: relative;
    font-size: 14px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company__list-moblie {
    display: none;
    padding: 20px 0 0 20px;
}

.company__list-moblie li {
    margin-bottom: 10px;
}

.company__list-moblie ul{
    list-style: none;
}

.careers-moblie {
    margin-bottom: 20px;
}

.login__register-moblie {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}


.register-moblie {
    border: 1px solid #333;
    padding: 8px 0;
    border-radius: 14px;
    margin-top: 20px;
}

.show{
    display: block;
}

.hide {
    display: none;
}

.overlay {
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}


@media (max-width: 700px) {
    body {
        height: 100vh;
    }
    .content {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

    .content__left {
        width: 100%;
        margin-right: 0;
        align-items: center;
    }

    .content__left h1 {
        font-size: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .content__left p {
        margin: 20px 0;
        text-align: center;
    }

    .content__right {
        display: flex;
        justify-content: center;
    }

    .content__right img {
        width: 400px;
        height: 300px;
    }

    .navigation {
        display: none;
    }

    .login-register {
        display: none;
    }

    .icon-menu {
        cursor: pointer;
        display: block;
        font-size: 24px;
    }

    .logo {
        margin-top: 40px;
    }

    .logo img {
        margin: 10px;
    } 
}