* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(249, 248, 246);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.cart-container {
    background-color: white;
    max-width: 600px;
    width: 100%;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgb(233, 233, 233);
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top-left {
    display: flex;
    align-items: center;
}

.noti {
    font-weight: 600;
    font-size: 22px;
}

.number {
    margin-left: 10px;
    padding: 2px 6px;
    background-color: rgb(4, 63, 105);
    color: white;
    border-radius: 4px;
}

.all-read {
    color: rgb(11, 23, 31);
    cursor: pointer;
}

.element {
    background-color: rgb(255, 255, 255);
    margin-top: 8px;
}

.unread {
    background-color: rgb(237, 244, 245);
    border-radius: 0;
    border-radius: 10px;
}

.cart {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.avatar {
    width: 42px;
    height: 42px;
}

.cart-info {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.cart-info p span {
    font-weight: 400;
    color: black;
}

.cart-info p {
    font-weight: 600;
    color: rgb(11, 23, 31);
    cursor: pointer;
}


.img {
    margin-left: 38px;
}

.time {
    font-size: 16px;
    color: #999;
}

.subtitle {
    margin-top: 10px;
    border-radius: 6px;
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(209, 209, 209);
}

.subtitle:hover {
    background-color: rgb(191, 229, 247);
    border-color: rgb(191, 229, 247);
}

.subtitle p {
    color: #444;
    font-weight: 400;
}

.img {
    width: 42px;
    height: 42px;
    /* display: none; */
    cursor: pointer;
}