*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(245, 243, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator { 
    max-width: 350px;
    width: 100%;
    text-align: center;
}

.theme {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.calc {
    font-size: 24px;
    font-weight: 600;
}

.theme-icon {
    display: flex;
    align-items: flex-end;
}

.theme-icon p {
    font-size: 10px;
    margin-right: 10px;
}

.toggle-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}

.toggle-btn p {
    word-spacing: 16px;
    margin:0 0 3px 1px;
}

.creen {
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 18px;
    border-radius: 10px;
    margin: 20px 0;
}

.keyboard {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    padding: 18px;
}

.number {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.one-number {
    width: 22%;
    font-size: 22px;
    background-color: rgb(239, 239, 239);
    border-radius: 6px;
    cursor: pointer;
    padding: 6px 10px;
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.3);
}

.one-number:hover {
    background-color: white;
}

.one-number.delete {
    background-color: rgb(74, 129, 110);
    color: white;
}

.one-number.delete:hover {
    background-color: rgb(120, 187, 164);
}

.reset-result {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    cursor: pointer;
}

.reset {
    width: 50%;
    padding: 10px 0;
    border-radius: 6px;
    background-color: rgb(74, 129, 110);
    color: white;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.3);
}

.reset:hover {
    background-color:rgb(120, 187, 164) ;
}

.result {
    width: 50%;
    background-color: rgb(215, 103, 5);
    border-radius: 6px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.3);
}

.result:hover {
    background-color:rgb(237, 149, 71) ;
}




/* THEME2 */
.theme2 {
    background-color: rgb(21, 57, 86);
}

.color2 {
    color: white;
}

.creen2 {
    background-color: rgb(12, 35, 54);
    color: white;
}

.keyboard2 {
    background-color: rgb(20, 46, 68);
}

.one-number2 {
    background-color: rgb(243, 235, 221);
    color: rgb(15, 15, 48);
}

.one-number2:hover {
    background-color: rgb(243, 243, 243);
}

.delete2 {
    background-color: rgb(49, 81, 110);
    color: white;
}

.delete2:hover {
    background-color: rgb(63, 89, 114);
}

.reset2 {
    background-color: rgb(49, 81, 110);
}

.reset2:hover{
    background-color: rgb(63, 89, 114);
}

.result2 {
    background-color: rgb(229, 31, 31);
}

.result2:hover {
    background-color: rgb(235, 71, 71);
}





/* THEME 3 */
.theme3 {
    background-color: rgb(36, 5, 63);
}

.color3 {
    color:rgb(239, 239, 26);;
}

.creen3 {
    background-color: rgb(46, 19, 70);
    color: rgb(239, 239, 26);
}

.keyboard3 {
    background-color: rgb(46, 19, 70);
}

.one-number3 {
    background-color: rgb(56, 28, 81);
    color: rgb(239, 239, 26);
}

.one-number3:hover {
    background-color: rgb(88, 51, 119);
}

.reset3 {
    background-color: rgb(91, 54, 123);
}

.reset3:hover{
    background-color: rgb(118, 76, 156);
}

.delete3 {
    background-color: rgb(91, 54, 123);
    color: white;
}

.delete3:hover {
    background-color: rgb(118, 76, 156);
}

.result3 {
    background-color: rgb(40, 173, 162);
    color: white;
}

.result3:hover {
    background-color: rgb(92, 206, 196);
}