.toggle {
    position: relative;
    background-color: rgb(12, 35, 54);
    width: 60px;
    height: 20px;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.circle {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(244, 48, 48);
    border-radius: 50%;
    left: 4px;
    top: 54%;
    transform: translateY(-50%);
    transition: all 0.4s ease;
}

.active2 .circle {
    left: 22px;
    background-color: rgb(255, 77, 0);
    top: 50%;
    transform: translateY(-50%);
}

.active2 {
    background-color: #ddd;
}

.active .circle {
    left: calc(100% - 18px);
    background-color: rgb(0, 217, 255);
    top: 46%;
    transform: translateY(-50%);
}

.active {
    background-color: rgb(54, 19, 79);
}